@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC&family=Gentium+Book+Basic&family=Merriweather:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: Merriweather, sans-serif;
    font-weight: 200;
    color: maroon;
}

/* Background Image */

#main {
    width: 100%;
    background-image: url('../images/background-image.jpg');
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* Header */

header > a {
    text-decoration: none;
}

#logo {
    float: left;
    padding: 15px 20px;
    font-family: Alegreya SC, sans-serif;
    font-size: 50px;
    color: brown;
    text-transform: uppercase;
}

/* Navigation Bar */

#nav {
    font-size: 150%;
    font-family: Alegreya SC, sans-serif;
    text-transform: uppercase;
}

#nav, #logo {
    line-height: 50px;
}

#nav li {
    list-style-type: none;
    float: right;
    padding-top: 20px;
    padding-right: 100px;
}

#nav a {
    text-decoration: none;
    color: brown;
}

#nav a:hover {
    border: 5px double brown;
    padding: 3px;
}

